<head>
    <link rel="stylesheet" type="text/css" href="public/sample.css" />
    
</head>

<!DOCTYPE html>
<html>




<title>TATTLTELL - Learn & Tell</title>

 <header>

    <section>
        <div class="content">
          <h2>tattltell</h2>
          <h2>tattltell</h2>
        </div>
     </section>


   <div class="headerContainer2">
                <nav class="navigationMenu">
                    <ul>
                        <li><a href="index.ejs">Home</a></li>
                        <li><a href="about.ejs">About</a></li>
                        <li><a href="contact.ejs">Contact</a></li>
                        <li><a href="sample.ejs">Sample Data</a></li>
                    </ul>
                </nav>
    
            <br> 
            <br> 
         <div class="searchDescription">
                <div class=lookUp>Look up earnings in your area</div>
                    <div clase="phButton">
                        <input type="searchBar" placeholder="Employer, Position, Area">
    
                        <button>
                            <a href="searchdb.ejs">search</a>
                        </button>
                   </div>
        </div>
    </div>
 </header>



<body>

    <body>
        <div class="table-data">
            <h2>Sample Data Wages</h2>
                <table border="1">
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">Title</th>
                        <th scope="col">Company</th>
                        <th scope="col">City/State</th>
                    </tr>

                 <tr>
                    <td scope="row"><%- rows[1].company %> </td>
                    <td scope="row"><%- rows[1].title %></td>
                    <td scope="row"><%- rows[1].company_hourly_wages %></td>
                    <td scope="row"><%- rows[1].city_state %></td>

                 </tr>
                 <tr>
                    <td scope="row"><%- rows[0].company %> </td>
                    <td scope="row"><%- rows[0].title %></td>
                    <td scope="row"><%- rows[0].company_hourly_wages %></td>
                    <td scope="row"><%- rows[0].city_state %></td>

                 </tr>
                </table>

               
    
    
    
        </div>
        
            
       
    </body>

</body>






<footer> 
    <div class="widget">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
        <div id="coinmarketcap-widget-marquee" coins="1,1027,8757,5994,3408,74,4030,5805" currency="USD" theme="dark" transparent="false" show-symbol-logo="true"></div>
    </div>
        <h4>
            Join the team. 
        </h4>
</footer>
</html>



